<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

  <div class="container">
      <header>
        <a href="https://waypointproject.io" class="logo">
          <img src="/logo.svg" alt="Logo" />
        </a>
      </header>
      <section class="content">
        <div class="language-icon">
          <img src="/language.svg" alt="Java Icon" />
        </div>
        <h1>This Java app was deployed with Waypoint.</h1>
        <p>
          Try making a change to this text locally and run <code>waypoint up</code> again to see it.
        </p>
        <p>
          Read the <a href="https://waypointproject.io/docs">documentation</a> for more about Waypoint.
        </p>
      </section>
      <footer>
        <a href="https://hashicorp.com" class="hashi">
          <img src="/hashi.svg" alt="HashiCorp" />
        </a>
      </footer>
    </div>

</body>
</html>
