apiVersion: v1
kind: Secret
metadata:
  name: github
  namespace: dex
type: Opaque
data:
  # echo -n "4503002ab4258e188f7c" | base64
  client-id: NDUwMzAwMmFiNDI1OGUxODhmN2M=
  # echo -n "bf5115ba7ca262d72cd43e6534c10ffc4bfa473f" | base64
  client-secret: YmY1MTE1YmE3Y2EyNjJkNzJjZDQzZTY1MzRjMTBmZmM0YmZhNDczZg==
