export PATH=$PATH:${PWD}/bin:${PWD}/go/bin

unset GOOS;
unset GOARCH;
export GOPATH="${PWD}/go"
export GOROOT='/home/dcooley/.gimme/versions/go1.14.linux.amd64';
export PATH="/home/dcooley/.gimme/versions/go1.14.linux.amd64/bin:${PATH}";
go version >&2;

export GIMME_ENV='/home/dcooley/.gimme/envs/go1.14.linux.amd64.env';
